// Colors
// https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
$colors-white: hsl(216, 100%, 99%);

$colors-black-rich: hsl(216 100% 4%);
$colors-gunmetal: #2b2d42;

$colors-blue-oxford: hsl(211 100% 12%);
$colors-blue-yale: hsl(209 100% 20%);

$colors-gold: hsl(50 100% 52%);
$colors-yellow-mikado: hsl(46 100% 50%);
