@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

@font-face {
  font-family: Roboto-Regular;
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto-Regular", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

.profile-image {
  height: 64px;
  width: 64px;
  border-radius: 30px;
}

.impact-message {
  font-family: "Comfortaa", sans-serif;
  font-size: 42px;
}

.padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padding-exam-certificate {
  padding-bottom: 0.5rem;
}

.intro-background {
  background-image: linear-gradient(
      90deg,
      rgba(6, 6, 6, 0.01) 0%,
      rgba(6, 6, 6, 0.01) 1%,
      rgba(131, 131, 131, 0.01) 1%,
      rgba(131, 131, 131, 0.01) 14%,
      rgba(250, 250, 250, 0.01) 14%,
      rgba(250, 250, 250, 0.01) 26%,
      rgba(30, 30, 30, 0.01) 26%,
      rgba(30, 30, 30, 0.01) 62%,
      rgba(117, 117, 117, 0.01) 62%,
      rgba(117, 117, 117, 0.01) 66%,
      rgba(248, 248, 248, 0.01) 66%,
      rgba(248, 248, 248, 0.01) 76%,
      rgba(39, 39, 39, 0.01) 76%,
      rgba(39, 39, 39, 0.01) 100%
    ),
    linear-gradient(
      90deg,
      rgba(57, 57, 57, 0.06) 0%,
      rgba(57, 57, 57, 0.06) 4%,
      rgba(227, 227, 227, 0.06) 4%,
      rgba(227, 227, 227, 0.06) 26%,
      rgba(67, 67, 67, 0.06) 26%,
      rgba(67, 67, 67, 0.06) 27%,
      rgba(126, 126, 126, 0.06) 27%,
      rgba(126, 126, 126, 0.06) 39%,
      rgba(103, 103, 103, 0.06) 39%,
      rgba(103, 103, 103, 0.06) 72%,
      rgba(16, 16, 16, 0.06) 72%,
      rgba(16, 16, 16, 0.06) 76%,
      rgba(21, 21, 21, 0.06) 76%,
      rgba(21, 21, 21, 0.06) 88%,
      rgba(69, 69, 69, 0.06) 88%,
      rgba(69, 69, 69, 0.06) 100%
    ),
    linear-gradient(
      90deg,
      rgba(156, 156, 156, 0.05) 0%,
      rgba(156, 156, 156, 0.05) 12%,
      rgba(54, 54, 54, 0.05) 12%,
      rgba(54, 54, 54, 0.05) 48%,
      rgba(169, 169, 169, 0.05) 48%,
      rgba(169, 169, 169, 0.05) 59%,
      rgba(104, 104, 104, 0.05) 59%,
      rgba(104, 104, 104, 0.05) 62%,
      rgba(165, 165, 165, 0.05) 62%,
      rgba(165, 165, 165, 0.05) 68%,
      rgba(124, 124, 124, 0.05) 68%,
      rgba(124, 124, 124, 0.05) 77%,
      rgba(189, 189, 189, 0.05) 77%,
      rgba(189, 189, 189, 0.05) 85%,
      rgba(173, 173, 173, 0.05) 85%,
      rgba(173, 173, 173, 0.05) 100%
    ),
    linear-gradient(
      90deg,
      rgba(182, 182, 182, 0.07) 0%,
      rgba(182, 182, 182, 0.07) 22%,
      rgba(122, 122, 122, 0.07) 22%,
      rgba(122, 122, 122, 0.07) 28%,
      rgba(62, 62, 62, 0.07) 28%,
      rgba(62, 62, 62, 0.07) 44%,
      rgba(89, 89, 89, 0.07) 44%,
      rgba(89, 89, 89, 0.07) 61%,
      rgba(110, 110, 110, 0.07) 61%,
      rgba(110, 110, 110, 0.07) 83%,
      rgba(185, 185, 185, 0.07) 83%,
      rgba(185, 185, 185, 0.07) 86%,
      rgba(192, 192, 192, 0.07) 86%,
      rgba(192, 192, 192, 0.07) 100%
    ),
    linear-gradient(
      90deg,
      rgba(8, 8, 8, 0.06) 0%,
      rgba(8, 8, 8, 0.06) 54%,
      rgba(48, 48, 48, 0.06) 54%,
      rgba(48, 48, 48, 0.06) 57%,
      rgba(245, 245, 245, 0.06) 57%,
      rgba(245, 245, 245, 0.06) 86%,
      rgba(12, 12, 12, 0.06) 86%,
      rgba(12, 12, 12, 0.06) 94%,
      rgba(225, 225, 225, 0.06) 94%,
      rgba(225, 225, 225, 0.06) 100%
    ),
    linear-gradient(
      90deg,
      rgb(53, 169, 225) 0%,
      rgb(1, 145, 219) 80%,
      rgb(26, 221, 247) 100%
    );
  color: whitesmoke;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon-end {
  margin-left: 3px;
  padding: 4px;
}

.carousel-caption-opacity {
  opacity: 90%;
}

.carousel-control-icon {
  height: 60px;
  width: 60px;
}

/* Navbar */
.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

/* Carousel */
.carousel-inner img {
  height: 100%;
  width: 100%;
}

.btn-outline-secondary {
  color: white;
  border-color: white;
}

/* Technologies */
#technologies {
  background-color: #3f3f3f;
  color: whitesmoke;
}

.fa-bootstrap {
  color: #080135;
}

.fa-css3-alt {
  color: #0f5298;
}

.fa-git-alt {
  color: #f1502f;
}

.fa-html5 {
  color: #e44d26;
}

.fa-java {
  color: #ed8b00;
}

.fa-js {
  color: #f0db4f;
}

.fa-node-js {
  color: #3c873a;
}

.fa-react {
  color: #61dbfb;
}

.fa-bootstrap,
.fa-css3-alt,
.fa-git-alt,
.fa-html5,
.fa-java,
.fa-js,
.fa-node-js,
.fa-react {
  font-size: 4rem;
  margin: 1rem;
}

.icon-image {
  height: 64px;
  width: 64px;
  margin: 1rem;
}

.technologies-figcaption-text {
  font-size: 1.2rem;
}

/* Contact */
#contact {
  background-image: url("../../assets/images/contact_compass.jpg"); /* Photo by Anas on Unsplash */
  color: whitesmoke;
  align-items: center;
  font-style: oblique;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-linkedin {
  color: #006192;
}

/* Footer */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

/* Loading by https://loading.io */
#preload {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #222;
}
.lds-ellipsis {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: whitesmoke;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
