---
import { Image } from "astro:assets";

import Button from "../components/ui/Button.astro";
import Layout from "../layouts/Layout.astro";
import fellipePiresInitials from "../assets/images/android-chrome-192x192.png";
---

<Layout title="Not found - Fellipe Pires">
  <div class="flex h-screen flex-1 flex-col items-center justify-center gap-8">
    <div>
      <Image
        src={fellipePiresInitials}
        alt="Fellipe Pires initials"
        width={192}
        height={192}
      />
    </div>

    <div class="flex flex-col items-center gap-8 p-7">
      <div class="flex flex-col items-center gap-3">
        <h1 class="tracking-widest">404</h1>
        <h3>Oops! The page you were looking for doesn't exist.</h3>
        <p>You may have mistyped the address or the page may have moved.</p>
      </div>

      <Button title="Back to Home page" href="/" variant="outline" />
    </div>
  </div>
</Layout>
