<section id="about" class="about diagonal-effect" tabindex="-1">
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/images/horizontal-blob-scatter-haikei.svg"
    />
    <img
      width="100%"
      height="100%"
      src="/images/vertical-blob-scatter-haikei.svg"
      alt=""
    />
  </picture>

  <div class="wrapper">
    <h2>About</h2>

    <div class="soft-skills__container">
      <div class="soft-skills">
        <div class="skill">
          <h3>Creative</h3>
          <p>
            I easily come up with simple and efficient ideas to solve complex
            scenarios. I also like to create prototypes and talk about UX/UI.
          </p>
        </div>
        <div class="skill">
          <h3>Team Player</h3>
          <p>
            From smaller to bigger ones. I have been working on teams since the
            beginning of my career. Share and learn knowledge are part of my
            routine.
          </p>
        </div>
        <div class="skill">
          <h3>Adaptable</h3>
          <p>
            Products are usually in constant changing. I'm always ready to act
            in different areas depending on the necessity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/base.scss";

  .about {
    img {
      max-width: 100%;
      height: 100%;

      object-fit: cover;

      position: absolute;
      inset: 0;
      /**
       * When an element is absolute and it's behind another element,
       * I'm not able to select the text content that is above it.
       * See https://stackoverflow.com/questions/36674135/text-selection-on-a-element-behind-an-absolute-element
       */
      pointer-events: none;

      margin: auto;
    }

    .soft-skills__container {
      display: flex;

      .soft-skills {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media (min-width: $breakpoints-md) {
          flex-direction: row;
        }

        .skill {
          margin-block: $space-2;
          margin-inline: $space-2;
          padding-block: $space-3;
          padding-inline: $space-2;

          display: flex;
          flex-direction: column;
          flex: 1;

          @media (min-width: $breakpoints-lg) {
            padding-inline: $space-8;
          }

          h3 {
            text-align: center;
          }

          p {
            text-align: left;
            line-height: $lineheights-7;
          }
        }
      }
    }
  }
</style>
