<section id="about" class="about diagonal-effect">
  <div class="wrapper">
    <h2>About</h2>

    <div class="soft-skills__container">
      <div class="soft-skills">
        <div class="skill">
          <h3>Creative</h3>
          <p>
            I easily come up with simple and efficient ideas to solve complex
            scenarios. Also I like to create prototypes or talk about design.
          </p>
        </div>
        <div class="skill">
          <h3>Team Player</h3>
          <p>
            From smaller to bigger ones. I have been working in teams since the
            beginning of my career. Share and learn are part of my routine.
          </p>
        </div>
        <div class="skill">
          <h3>Adaptable</h3>
          <p>
            Products are usually in constant changing. I'm always prepared to
            act in different areas depending on the necessity.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../styles/base.scss";

  .about {
    background-image: url("assets/images/vertical-blob-scatter-haikei.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .soft-skills__container {
      display: flex;

      .soft-skills {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @media (min-width: 0em) {
        }
        @media (min-width: $breakpoints-sm) {
        }
        @media (min-width: $breakpoints-md) {
          flex-direction: row;
        }

        .skill {
          margin-block: $space-2;
          margin-inline: $space-2;
          padding-block: $space-3;
          padding-inline: $space-2;

          display: flex;
          flex-direction: column;
          flex: 1;

          h3 {
            text-align: center;
          }

          p {
            line-height: $lineheights-7;
          }
        }
      }
    }
  }
</style>
