<footer id="contact" class="contact" tabindex="-1">
  <div class="wrapper">
    <div class="social-networks">
      <div>
        <a href="https://linkedin.com/in/fthomasvp">
          <img
            loading="lazy"
            src="/assets/images/linkedin.png"
            alt="LinkedIn"
            width="45"
            height="45"
          />
        </a>
      </div>
      <div>
        <a href="https://github.com/fthomasvp"
          ><img
            loading="lazy"
            src="/assets/images/github.png"
            alt="GitHub"
            width="45"
            height="45"
          /></a
        >
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @import "../styles/base.scss";

  .contact {
    background-color: $colors-blue-yale;
  }

  .social-networks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: $space-16;

    margin-block-start: $space-8;
  }
</style>
