---
const currentYear = new Date().getFullYear();
---

<footer class="bg-blue-yale py-4" tabindex="-1">
  <div class="wrapper">
    <div
      class="flex flex-col flex-wrap items-center space-y-6 md:space-y-0 md:flex-row md:justify-between md:mb-0"
    >
      <a class="flex" href="/">
        <img
          src="/android-chrome-192x192.png"
          alt="Fellipe Pires home link"
          width="48"
          height="48"
        />
      </a>

      <div class="flex flex-wrap justify-center space-x-6">
        <div>
          <a href="https://linkedin.com/in/fthomasvp" class="flex">
            <img
              loading="lazy"
              src="/images/linkedin-white.png"
              alt="LinkedIn"
              width="42"
              height="42"
            />
          </a>
        </div>
        <div>
          <a href="https://github.com/fthomasvp" class="flex"
            ><img
              loading="lazy"
              src="/images/github-white.png"
              alt="GitHub"
              width="42"
              height="42"
            /></a
          >
        </div>
      </div>
    </div>
    <div class="text-white text-xs text-center" style="margin: 0;">
      <div class="mt-4 md:mt-0">
        <p>Copyright &copy; {currentYear} Fellipe Pires</p>
      </div>
    </div>
  </div>
</footer>
