---
import { Image } from "astro:assets";

import { Logo } from "./ui/index.astro";
import whiteLinkedInLogo from "../assets/images/linkedin-white.png";
import whiteGitHubLogo from "../assets/images/github-white.png";
---

<footer class="bg-blue-yale py-4" tabindex="-1">
  <div class="wrapper">
    <div
      class="flex flex-col flex-wrap items-center space-y-6 md:mb-0 md:flex-row md:justify-between md:space-y-0"
    >
      <Logo titleStyle="text-white" />

      <div class="flex flex-wrap justify-center space-x-6">
        <div>
          <a
            href="https://linkedin.com/in/fthomasvp"
            class="flex"
            target="_blank"
          >
            <Image
              src={whiteLinkedInLogo}
              alt="LinkedIn"
              width={42}
              height={42}
            />
          </a>
        </div>
        <div>
          <a href="https://github.com/fthomasvp" class="flex" target="_blank">
            <Image src={whiteGitHubLogo} alt="GitHub" width={42} height={42} />
          </a>
        </div>
      </div>
    </div>
    <div class="text-center text-xs text-white" style="margin: 0;">
      <div class="mt-4 md:mt-0">
        <p>
          Copyright &copy; <span data-element="copyright_year"></span> Fellipe
          Pires
        </p>
      </div>
    </div>
  </div>

  <script>
    const copyrightYear = document.querySelector(
      "span[data-element='copyright_year']",
    );

    if (copyrightYear) {
      const currentYear = new Date().getFullYear().toString();
      copyrightYear.innerHTML = currentYear;
    }
  </script>
</footer>
