<footer id="footer" class="wave-effect">
  <div class="wrapper">
    <div
      class="d-flex flex-direction-row flex-wrap justify-center"
      style="gap: 4rem; margin-block-start: 2rem;"
    >
      <div>
        <a href="https://linkedin.com/in/fthomasvp">
          <img
            loading="lazy"
            src="/assets/images/linkedin.png"
            alt="LinkedIn"
            width="45"
            height="45"
          />
        </a>
      </div>
      <div>
        <a href="https://github.com/fthomasvp"
          ><img
            loading="lazy"
            src="/assets/images/github.png"
            alt="GitHub"
            width="45"
            height="45"
          /></a
        >
      </div>
    </div>
  </div>
</footer>
