<header>
  <div class="wrapper">
    <div
      class="flex w-full items-center justify-between py-4 font-gabarito tracking-widest"
    >
      <a class="flex no-underline" href="/">
        <img
          width="48"
          height="48"
          src="/favicon.ico"
          alt="Fellipe Pires home link"
        />
      </a>

      <nav data-component="navbar" class="flex">
        <ul
          data-component="nav-menu"
          class="absolute -left-full top-24 z-30 h-screen w-full flex-col justify-start space-y-14 overflow-hidden bg-white py-16 text-center transition-all delay-75 duration-300 ease-in-out md:static md:flex md:h-auto md:list-none md:flex-row md:justify-center md:space-x-14 md:space-y-0 md:overflow-visible md:py-0"
        >
          <li
            class="text-3xl font-medium transition-transform duration-300 ease-in-out hover:scale-125"
          >
            <a
              data-component="nav-link"
              class="text-blue-oxford no-underline hover:underline"
              href="#about">About</a
            >
          </li>
          <li
            class="text-3xl font-medium transition-transform duration-300 ease-in-out hover:scale-125"
          >
            <a
              data-component="nav-link"
              class="text-blue-oxford no-underline hover:underline"
              href="#projects">Projects</a
            >
          </li>
        </ul>
      </nav>

      <button
        data-component="mobile-nav"
        class="block border-none md:hidden md:cursor-pointer md:bg-none"
        tabindex="0"
      >
        <img
          class="aspect-[3/2]"
          src="/icons/icons8-hamburger-menu.svg"
          alt="Menu"
          width="50px"
          height="50px"
          loading="eager"
        />
      </button>
    </div>
  </div>
</header>

<script>
  /**
   * Enable or disable the page scroll based on the screen size.
   * NOTE: it only takes effect on mobile resolution (e.g. below 768px).
   */
  function togglePageScroll() {
    const isScrollActive = ["auto", "visible", "scroll"].includes(
      document.body.style.overflow,
    );
    const isMobile = window.innerWidth <= 768;

    if (!isMobile) {
      return;
    }

    if (isScrollActive) {
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = "auto";
    }
  }

  // const navBar = document.querySelector(".navbar");
  const navBar = document.querySelector('[data-component="navbar"]');
  const mobileNav = document.querySelector('[data-component="mobile-nav"]');
  const navMenu = document.querySelector('[data-component="nav-menu"]');

  if (mobileNav && navMenu && navBar) {
    mobileNav.addEventListener("click", () => {
      navMenu.classList.toggle("left-0");
      togglePageScroll();
    });

    mobileNav.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        navMenu.classList.toggle("left-0");
        togglePageScroll();
      }
    });

    const navLinks = document.querySelectorAll('[data-component="nav-link"]');

    if (navLinks.length > 0) {
      navLinks.forEach((navLink) => {
        navLink.addEventListener("click", () => {
          navMenu.classList.remove("left-0");
          togglePageScroll();
        });
      });
    }
  }
</script>
