<header>
  <div class="wrapper">
    <div
      class="w-full flex justify-between items-center font-bebas-neue tracking-widest py-4"
    >
      <a class="no-underline flex" href="/">
        <img
          width="48"
          height="48"
          src="/favicon.ico"
          alt="Fellipe Pires home link"
        />
      </a>

      <nav data-component="navbar" class="flex">
        <ul
          data-component="nav-menu"
          class="absolute top-24 -left-full z-30 flex-col justify-start text-center w-full h-screen py-16 bg-white overflow-hidden transition-all duration-300 ease-in-out delay-75 md:static md:flex md:flex-row md:justify-center md:h-auto md:py-0 space-y-14 md:space-x-14 md:space-y-0 md:list-none md:overflow-visible"
        >
          <li
            class="text-2xl font-medium transition-transform ease-in-out duration-300 hover:scale-125"
          >
            <a
              data-component="nav-link"
              class="no-underline text-blue-oxford hover:underline"
              href="#about">About</a
            >
          </li>
          <li
            class="text-2xl font-medium transition-transform ease-in-out duration-300 hover:scale-125"
          >
            <a
              data-component="nav-link"
              class="no-underline text-blue-oxford hover:underline"
              href="#projects">Projects</a
            >
          </li>
        </ul>
      </nav>

      <button
        data-component="mobile-nav"
        class="block md:hidden md:cursor-pointer md:bg-none border-none"
        tabindex="0"
      >
        <img
          class="aspect-[3/2]"
          src="/icons/icons8-hamburger-menu.svg"
          alt="Menu"
          width="50px"
          height="50px"
          loading="eager"
        />
      </button>
    </div>
  </div>
</header>

<script>
  /**
   * Enable or disable the page scroll based on the screen size.
   * NOTE: it only takes effect on mobile resolution (e.g. below 768px).
   */
  function togglePageScroll() {
    const isScrollActive = ["auto", "visible", "scroll"].includes(
      document.body.style.overflow
    );
    const isMobile = window.innerWidth <= 768;

    if (!isMobile) {
      return;
    }

    if (isScrollActive) {
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = "auto";
    }
  }

  // const navBar = document.querySelector(".navbar");
  const navBar = document.querySelector('[data-component="navbar"]');
  const mobileNav = document.querySelector('[data-component="mobile-nav"]');
  const navMenu = document.querySelector('[data-component="nav-menu"]');

  if (mobileNav && navMenu && navBar) {
    mobileNav.addEventListener("click", () => {
      navMenu.classList.toggle("left-0");
      togglePageScroll();
    });

    mobileNav.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        navMenu.classList.toggle("left-0");
        togglePageScroll();
      }
    });

    const navLinks = document.querySelectorAll('[data-component="nav-link"]');

    if (navLinks.length > 0) {
      navLinks.forEach((navLink) => {
        navLink.addEventListener("click", () => {
          navMenu.classList.remove("left-0");
          togglePageScroll();
        });
      });
    }
  }
</script>
