<header>
  <p class="nav-branding">
    <a href="/">F.P.</a>
  </p>

  <nav class="navbar">
    <!-- data-visible="false" (to be changed with JS) -->
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="mobile-nav" role="button" tabindex="0"></div>
</header>

<style lang="scss">
  @import "../styles/base.scss";

  a {
    text-decoration: none;
  }

  header {
    position: absolute;
    top: 0;
    z-index: $zIndices-sticky;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $fontfamily-bebas-neue;
    letter-spacing: $letterspacings-widest;

    padding-block: 1rem;
    padding-inline: 2rem;

    .navbar {
      display: flex;
    }

    .nav-branding {
      font-size: $fontsizes-4xl;
      font-weight: $fontweights-bold;
      letter-spacing: $letterspacings-widest;

      a {
        color: $colors-blue-oxford;
      }
    }
    .nav-menu {
      display: flex;
      justify-content: center;
      gap: $space-14;

      list-style-type: none;

      .nav-item {
        font-size: $fontsizes-2xl;
        font-weight: $fontweights-medium;

        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: all;

        &:hover {
          transform: scale(1.15);

          .nav-link {
            border-bottom: 2px solid $colors-blue-oxford;
          }
        }
      }
      .nav-link {
        color: $colors-blue-oxford;
      }
    }
    .mobile-nav {
      display: none;

      background-image: url("/assets/icons/bars-solid.svg");
      background-repeat: no-repeat;

      aspect-ratio: 1;
      width: $space-7;

      cursor: pointer;
    }

    @media (max-width: $breakpoints-md) {
      .nav-menu {
        position: absolute;
        top: $space-16;
        left: -100%;

        flex-direction: column;
        justify-content: flex-start;

        text-align: center;

        width: 100%;
        height: 100vmax;

        padding-block: $space-16;

        background-color: $colors-white;

        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.125s;
        transition-property: all;

        overflow: hidden;

        &.active {
          left: 0;
        }
      }

      .mobile-nav {
        display: block;
      }
    }
  }
</style>

<script>
  const navBar = document.querySelector(".navbar");
  const mobileNav = document.querySelector(".mobile-nav");
  const navMenu = document.querySelector(".nav-menu");

  if (mobileNav && navMenu && navBar) {
    mobileNav.addEventListener("click", () => {
      navMenu.classList.toggle("active");
    });
    mobileNav.addEventListener("keypress", (e) => {
      if (e.key === "Enter") {
        navMenu.classList.toggle("active");
      }
    });

    const navLinks = document.querySelectorAll(".nav-link");

    if (navLinks.length > 0) {
      navLinks.forEach((navLink) => {
        navLink.addEventListener("click", () => {
          navMenu.classList.remove("active");
        });
      });
    }
  }
</script>
