<header>
  <div class="wrapper">
    <div class="header">
      <a class="no-underline flex" href="/">
        <img
          width="48"
          height="48"
          src="/favicon.ico"
          alt="Fellipe Pires home link"
        />
      </a>

      <nav class="navbar">
        <ul class="nav-menu">
          <li class="nav-item">
            <a class="no-underline nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="no-underline nav-link" href="#projects">Projects</a>
          </li>
        </ul>
      </nav>

      <button class="mobile-nav" tabindex="0">
        <img
          class="aspect-[3/2]"
          src="/icons/icons8-hamburger-menu.svg"
          alt="Menu"
          width="50px"
          height="50px"
          loading="eager"
        />
      </button>
    </div>
  </div>
</header>

<style lang="scss">
  @import "../styles/base.scss";

  .header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $fontfamily-bebas-neue;
    letter-spacing: $letterspacings-widest;

    padding-block: 1rem;

    .navbar {
      display: flex;
    }

    .nav-menu {
      display: flex;
      justify-content: center;
      gap: $space-14;

      list-style-type: none;

      .nav-item {
        font-size: $fontsizes-2xl;
        font-weight: $fontweights-medium;

        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: transform;

        &:hover {
          transform: scale(1.15);

          .nav-link {
            text-decoration: underline;
          }
        }
      }
      .nav-link {
        color: $colors-blue-oxford;
      }
    }
    .mobile-nav {
      display: none;

      cursor: pointer;

      background: none;
      border: none;
    }

    @media (max-width: $breakpoints-md) {
      .nav-menu {
        position: absolute;
        top: $space-24;
        left: -100%;
        z-index: $zIndices-overlay;

        flex-direction: column;
        justify-content: flex-start;

        text-align: center;

        width: 100%;
        height: 100vmax;

        padding-block: $space-16;

        background-color: $colors-white;

        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.125s;
        transition-property: all;

        overflow: hidden;

        &.active {
          left: 0;
        }
      }

      .mobile-nav {
        display: block;
      }
    }
  }
</style>

<script>
  /**
   * Enable or disable the page scroll based on the screen size.
   * NOTE: it only takes effect on mobile resolution (e.g. below 768px).
   */
  function togglePageScroll() {
    const isScrollActive = ["auto", "visible", "scroll"].includes(
      document.body.style.overflow
    );
    const isMobile = window.innerWidth <= 768;

    if (!isMobile) {
      return;
    }

    if (isScrollActive) {
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = "auto";
    }
  }

  const navBar = document.querySelector(".navbar");
  const mobileNav = document.querySelector(".mobile-nav");
  const navMenu = document.querySelector(".nav-menu");

  if (mobileNav && navMenu && navBar) {
    mobileNav.addEventListener("click", () => {
      navMenu.classList.toggle("active");
      togglePageScroll();
    });

    mobileNav.addEventListener("keydown", (e) => {
      if (e.key === "Enter") {
        navMenu.classList.toggle("active");
        togglePageScroll();
      }
    });

    const navLinks = document.querySelectorAll(".nav-link");

    if (navLinks.length > 0) {
      navLinks.forEach((navLink) => {
        navLink.addEventListener("click", () => {
          navMenu.classList.remove("active");
          togglePageScroll();
        });
      });
    }
  }
</script>
