---
const profileImages = {
  small: "/images/profile-fthomasvp-circle-small.png",
  medium: "/images/profile-fthomasvp-circle-medium.png",
  large: "/images/profile-fthomasvp-circle-large.png",
};
---

<section id="hero" class="pt-16">
  <div
    class="wrapper flex flex-col flex-wrap space-y-4 max-w-[62em] mx-auto px-4 pt-24 pb-48 lg:flex-row lg:justify-around lg:space-x-4 lg:space-y-0"
  >
    <div
      class="animate__animated animate__fadeInLeft flex flex-col space-y-2 pb-8 text-center lg:justify-center lg:space-y-4 lg:text-left lg:pb-0 lg:w-min"
    >
      <h1
        class="text-6xl font-bold tracking-wider leading-tight sm:text-8xl lg:text-9xl"
      >
        Hi, I'm Fellipe
      </h1>
      <p class="text-xl font-bebas-neue tracking-widest lg:text-2xl">
        A front-end developer with focus on deliver great user experience.
      </p>
    </div>
    <div class="animate__animated animate__fadeInDown flex">
      <img
        width="100%"
        height="100%"
        src={profileImages.large}
        srcset={`${profileImages.small} 259w, ${profileImages.medium} 694w, ${profileImages.large} 950w`}
        sizes="(min-width: 1180px) 724px, (min-width: 1000px) calc(72.5vw - 117px), calc(100vw - 32px)"
        alt="Fellipe is wearing a yellow t-shirt and smiling"
        class="max-w-full object-contain drop-shadow-basic h-60 sm:h-80 lg:h-[28rem]"
      />
    </div>
  </div>
</section>
