<section class="hero">
  <div class="introduction animate__animated animate__fadeInLeft">
    <h1>Hi, I'm</h1>
    <h1>Fellipe</h1>
    <p>A front-end developer focused on delivery great user experience.</p>
  </div>
  <div class="image animate__animated animate__fadeInDown">
    <picture>
      <source
        media="(max-width: 480px)"
        srcset="assets/images/profile-fthomasvp-small.jpg"
      />
      <source
        media="(max-width: 992px)"
        srcset="assets/images/profile-fthomasvp-medium.jpg"
      />
      <source
        media="(min-width: 1280px)"
        srcset="assets/images/profile-fthomasvp-large.jpg"
      />
      <img
        loading="lazy"
        src="assets/images/profile-fthomasvp-large.jpg"
        alt="Fellipe smiling on a yellow t-shirt"
      />
    </picture>
  </div>
</section>

<style lang="scss">
  @import "../styles/baseTheme.scss";

  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2em;

    max-width: $breakpoints-lg;

    margin-inline: auto;
    padding-inline: 1em;
    padding-block: 4em;

    .introduction {
      display: flex;
      flex: 1;
      flex-direction: column;

      h1 {
        font-family: "Bebas Neue", cursive, $fontfamily--fallback;
        font-size: 6rem;
        letter-spacing: $letterspacings-wider;
        line-height: $lineheights-shorter;
      }

      p {
        font-family: "Bebas Neue", cursive, $fontfamily--fallback;
        letter-spacing: $letterspacings-widest;
      }
    }

    .image {
      display: flex;
      justify-content: center;

      flex-grow: 1;

      img {
        z-index: $zIndices-docked;

        max-width: 100%;

        border-top-right-radius: 250px;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 250px;
        border-bottom-left-radius: 300px;

        filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 0.38));
      }
    }
  }

  @media (min-width: 0em) {
    .introduction {
      h1 {
        font-size: $fontsizes-6xl;
      }

      p {
        font-size: $fontsizes-xl;
      }
    }

    .image {
      img {
        height: 15rem;
      }
    }
  }
  @media (min-width: $breakpoints-sm) {
    .introduction {
      h1 {
        font-size: $fontsizes-9xl;
      }
    }

    .image {
      img {
        height: 22rem;
      }
    }
  }
  @media (min-width: $breakpoints-md) {
    .hero {
      flex-direction: row;

      .introduction {
        justify-content: center;

        p {
          font-size: $fontsizes-2xl;
        }
      }

      .image {
        img {
          height: 28rem;
        }
      }
    }
  }
</style>
