<section id="hero" class="hero">
  <div class="introduction animate__animated animate__fadeInLeft">
    <h1>Hi, I'm Fellipe</h1>
    <p>A front-end developer with focus on deliver great user experience.</p>
  </div>
  <div class="image animate__animated animate__fadeInDown">
    <picture>
      <source
        media="(max-width: 480px)"
        srcset="assets/images/profile-fthomasvp-small.jpg"
      />
      <source
        media="(max-width: 992px)"
        srcset="assets/images/profile-fthomasvp-medium.jpg"
      />
      <source
        media="(min-width: 1280px)"
        srcset="assets/images/profile-fthomasvp-large.jpg"
      />
      <img
        loading="lazy"
        src="assets/images/profile-fthomasvp-large.jpg"
        alt="Fellipe smiling on a yellow t-shirt"
      />
    </picture>
  </div>
</section>

<style lang="scss">
  @import "../styles/base.scss";

  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: $space-4;

    max-width: $breakpoints-lg;

    margin-inline: auto;
    padding-inline: $space-4;
    padding-block: $space-48;

    .introduction {
      display: flex;
      flex: 1;
      flex-direction: column;

      padding-block-end: $space-8;

      text-align: center;

      h1 {
        font-size: $fontsizes-8xl;
        letter-spacing: $letterspacings-wider;
        line-height: $lineheights-shorter;
      }

      p {
        font-family: $fontfamily-bebas-neue;
        letter-spacing: $letterspacings-widest;
      }
    }

    .image {
      display: flex;
      justify-content: center;

      flex-grow: 1;

      img {
        max-width: 100%;

        border-radius: 51% 49% 19% 81% / 56% 65% 35% 44%;

        filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 0.38));
      }
    }

    @media (max-width: $breakpoints-sm) {
      .introduction {
        h1 {
          font-size: $fontsizes-6xl;
        }
        p {
          font-size: $fontsizes-xl;
        }
      }

      .image {
        img {
          height: 15 * $space-4;
        }
      }
    }
    @media (min-width: $breakpoints-sm) {
      .image {
        img {
          height: 20 * $space-4;
        }
      }
    }
    @media (min-width: $breakpoints-lg) {
      flex-direction: row;

      .introduction {
        justify-content: center;

        text-align: left;

        padding-block-end: 0;

        h1 {
          font-size: $fontsizes-9xl;
        }
        p {
          font-size: $fontsizes-2xl;
        }
      }

      .image {
        img {
          height: 28 * $space-4;
        }
      }
    }
  }
</style>
