---
---

<header>
  <p class="logo">
    <a href="/">F.P</a>
  </p>

  <nav>
    <ul class="menu">
      <li class="item">
        <a href="#about">About</a>
      </li>
      <li class="item">
        <a href="#projects">Projects</a>
      </li>
      <li class="item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @import "../styles/base.scss";

  a {
    text-decoration: none;
  }

  header {
    position: fixed;
    top: 0;
    z-index: $zIndices-sticky;

    width: 100%;

    display: flex;
    justify-content: space-between;

    font-family: $fontfamily-bebas-neue;
    letter-spacing: $letterspacings-widest;

    padding-block: $space-4;
    padding-inline: $space-8;

    backdrop-filter: blur(20px);

    .logo {
      font-size: $fontsizes-2xl;
      font-weight: $fontweights-bold;
      letter-spacing: $letterspacings-widest;
    }
    .menu {
      display: flex;
      justify-content: center;
      gap: $space-4;

      list-style-type: none;

      .item {
        font-size: $fontsizes-2xl;
        font-weight: $fontweights-medium;
      }
    }
  }
</style>
