---
import "animate.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Fellipe Pires is a front-end developer with focus on deliver great user experience."
    />
    <meta name="keywords" content="developer, frontend, react, software" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @import "../styles/base.scss";

  *,
  *::before,
  *::after {
    box-sizing: border-box;

    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

    word-wrap: break-word;
  }

  body {
    color: $colors-black-rich;
    font-family: $fontfamily-poppins;
    font-size: $fontsizes-md;
    line-height: $lineheights-base;

    background-color: $colors-white;
  }

  section,
  footer {
    /* `block` represents "top" and "bottom" */
    padding-block: $space-16;
  }

  h1 {
    font-size: $fontsizes-5xl;
    font-family: $fontfamily-bebas-neue;
  }
  h2 {
    margin-block: 0.8em;

    font-size: $fontsizes-4xl;
    font-family: $fontfamily-bebas-neue;
    letter-spacing: $letterspacings-wider;
  }
  h3 {
    margin-block: 0.4em;

    font-weight: $fontweights-medium;
    font-size: $fontsizes-3xl;
    font-family: $fontfamily-bebas-neue;
    letter-spacing: $letterspacings-widest;
  }
  h4,
  h5,
  h6 {
    font-family: $fontfamily-bebas-neue;
  }

  button {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    vertical-align: middle;

    cursor: pointer;
    outline: transparent solid 1px;
    appearance: none;
    user-select: none;

    border: none;
    border-radius: $radii-md;
    padding-inline: $space-4;

    width: 100%;
    height: $space-10;
    min-width: $space-10;

    font-family: inherit;
    font-size: $fontsizes-md;
    font-weight: $fontweights-semibold;
    line-height: $lineheights-shorter;
    white-space: nowrap;

    &:focus-visible {
      box-shadow: 0 0 0 3px $colors-yellow-mikado;
    }
  }

  @media (min-width: $breakpoints-sm) {
    body {
      font-size: $fontsizes-lg;
    }
  }

  /* 
    Utility classes 
  */
  .d-flex {
    display: flex;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .flex-direction-row {
    flex-direction: row;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .justify-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }

  .text-center {
    text-align: center;
  }

  .wrapper {
    max-width: 70em;

    margin-inline: auto;
    /* `inline` represents "left" and "right" */
    padding-inline: $space-5;
  }

  /*
    Wave background effect
  */
  .wave-effect {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      z-index: $zIndices-hide;

      width: 100%;
      height: 180px;

      transform: rotateX(180deg);

      background: $colors-gold;
      mask-image: url("/images/wave-headline-01.svg");
      -webkit-mask-image: url("/images/wave-headline-01.svg");
    }
  }

  /*
    Diagonal background effect
  */
  .diagonal-effect {
    position: relative;
    isolation: auto;

    &::after {
      content: "";

      position: absolute;
      inset: 0;
      z-index: $zIndices-hide;

      background-color: $colors-gold;

      transform: skewY(-4deg);
    }
  }

  /*
    Highlight animation
  */
  .text-highlight {
    background: linear-gradient(
      to right,
      white,
      white 50%,
      $colors-gunmetal 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    animation: 4s ease-in-out 1s infinite normal none running highlighting;
  }
  @keyframes highlighting {
    from {
      background-position: 100%;
    }
    50% {
      background-position: 0% 100%;
    }
    to {
      background-position: 0% 100%;
    }
  }
</style>
