---
import "animate.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-soft-white: #ddd;
    --color-gunmetal: #2b2d42;
    --color-aureolin: #e7e700;
    --color-tiffany-blue: #84dccf;

    /* Breakpoints */
    --breakpoint-sm: 30em; /* 480px */
    --breakpoint-md: 48em; /* 768px */
    --breakpoint-lg: 62em; /* 992px */
    --breakpoint-xl: 80em; /* 1280px */
    --breakpoint-2xl: 96em; /* 1536px */

    /* Font sizes */
    --fontsize-xs: 0.75rem;
    --fontsize-sm: 0.875rem;
    --fontsize-md: 1rem;
    --fontsize-lg: 1.125rem;
    --fontsize-xl: 1.25rem;
    --fontsize-2xl: 1.5rem;
    --fontsize-3xl: 1.875rem;
    --fontsize-4xl: 2.25rem;
    --fontsize-5xl: 3rem;
    --fontsize-6xl: 3.75rem;
    --fontsize-7xl: 4.5rem;
    --fontsize-8xl: 6rem;
    --fontsize-9xl: 8rem;

    /* Font weights */
    --fontweight-hairline: 100;
    --fontweight-thin: 200;
    --fontweight-light: 300;
    --fontweight-normal: 400;
    --fontweight-medium: 500;
    --fontweight-semibold: 600;
    --fontweight-bold: 700;
    --fontweight-extrabold: 800;
    --fontweight-black: 900;

    /* Line heights */
    --lineheight-normal: "normal";
    --lineheight-none: 1;
    --lineheight-shorter: 1.25;
    --lineheight-short: 1.375;
    --lineheight-base: 1.5;
    --lineheight-tall: 1.625;
    --lineheight-taller: 2;
    --lineheight-3: 0.75rem;
    --lineheight-4: 1rem;
    --lineheight-5: 1.25rem;
    --lineheight-6: 1.5rem;
    --lineheight-7: 1.75rem;
    --lineheight-8: 2rem;
    --lineheight-9: 2.25rem;
    --lineheight-10: 2.5rem;

    /* Letter spacings */
    --letterspacing-tighter: -0.05em;
    --letterspacing-tight: -0.025em;
    --letterspacing-normal: 0;
    --letterspacing-wide: 0.025em;
    --letterspacing-wider: 0.05em;
    --letterspacing-widest: 0.1em;

    /* Fonts */
    --fontfamily--fallback: system-ui, -apple-system, BlinkMacSystemFont, Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;

    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

    word-wrap: break-word;
  }

  body {
    overflow-x: hidden;

    color: var(--color-soft-white);
    font-family: "Poppins", sans-serif, var(--fontfamily--fallback);
    font-size: 16px;
    line-height: var(--lineheight-base);

    margin: 0;

    background: linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );
    background: -moz-linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      hsla(205, 46%, 10%, 1) 0%,
      hsla(191, 28%, 23%, 1) 50%,
      hsla(207, 41%, 27%, 1) 100%
    );
  }

  section {
    /* `block` represents "top" and "bottom" */
    padding-block: 6em;
  }

  h2 {
    margin-block: 0.8em;
  }

  img {
    max-width: 100%;
  }

  @media (min-width: 0em) {
    p {
      font-size: var(--fontsize-md);
    }
  }
  @media (min-width: 30em) {
    p {
      font-size: var(--fontsize-lg);
    }
  }

  .d-flex {
    display: flex;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .flex-direction-row {
    flex-direction: row;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .justify-center {
    justify-content: center;
  }
  .align-center {
    align-items: center;
  }

  .d-grid {
    display: grid;
  }

  .text-center {
    text-align: center;
  }

  .wrapper {
    max-width: 60em;

    margin-inline: auto;
    /* `inline` represents "left" and "right" */
    padding-inline: 1.25em;
  }

  /* Wave background effect */
  .wave-effect {
    position: relative;
  }
  .wave-effect::after {
    content: "";

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 180px;

    transform: rotateX(180deg);

    background: var(--color-tiffany-blue);
    -webkit-mask-image: url("assets/wave-headline-01.svg");
  }

  /* Diagonal background effect */
  .diagonal-effect {
    position: relative;
    isolation: isolate;
  }
  .diagonal-effect::after {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;

    background: var(--color-tiffany-blue);
    opacity: 25%;

    transform: skewY(-4deg);
  }

  /* Highlight animation */
  .text-highlight {
    background: linear-gradient(
      to right,
      white,
      white 50%,
      var(--color-gunmetal) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    animation: 4s ease-in-out 1s infinite normal none running highlighting;
  }
  @keyframes highlighting {
    from {
      background-position: 100%;
    }
    50% {
      background-position: 0% 100%;
    }
    to {
      background-position: 0% 100%;
    }
  }
</style>
