---
import { Image } from "astro:assets";

import favIcon from "../../assets/images/favicon.ico";

interface Props {
  titleStyle?: string;
}

const { titleStyle } = Astro.props;
---

<a class="flex items-center space-x-4 no-underline" href="/">
  <Image
    src={favIcon}
    alt="Fellipe Pires initials"
    width={48}
    height={48}
    loading="eager"
  />
  <span class:list={["text-xl", titleStyle]}>Fellipe Pires</span>
</a>
